.navbar{
	height: 85px;
	display: inline-block;
	box-shadow: 0 2px 12px -2px rgba(0,0,0,.3);
	margin:0 auto;
}
.navbar li{
	padding-top: 15px;
	padding-left: 5px;
	font-size: 17px;
}
.navbar-brand{
	padding-top: 30px;
	font-family: 'Domine', serif;
	font-size: 33px;
}
.navbar li a.hover{
	padding-top: 15px;
}
#top-image{
	width: 100%;
	height: 650px;
	vertical-align: middle;
	position: relative;
}
#front{
	margin:0 auto;
	padding: 0;
}
.heading1{
	margin-top: 545px;
}

h3{
	font-family: 'Domine', serif;
	font-weight: bold;
	font-size: 35px;
}

hr{
	width: 80%;
	border-color : #bcbaba;
	height: 12px;
}

.glyphicon glyphicon-user:focus{
	outline: none;
}

.footer { 
	  display: inline-block;
	  width: 100%;
	  margin:0 auto;
    height: 140px;
    background-color: black;
    text-align: center;
    padding: 40px 0px 50px 0px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.style-je24x7ahlabel {
    font: normal normal 700 20px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    transition: color 0.4s ease 0s;
    color: #42505D;
    display: inline-block;
    margin: calc(-1 * 2px) 2px 0;
    position: relative;
    white-space: nowrap;
}

.KnowMore{
	text-align: justify;
	font-family: 'Domine', serif;;
	font-size: 18px;
	color: #6B7986;
	padding-top: 50px;
	padding-bottom: 40px;
}

.icons{
	display: block;
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.active{
    height: 100%;
    width: 100%;
}

.hide{
    display: none;
}

#KnowMoreFirstPic{
	padding-top: 30px;
	padding-left: 0;
	width: 100%;
	height: 700px;
	vertical-align: middle;
	position: relative;
	margin: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 35px;
	color: white;
	text-align: center;
}
.Services{
	width: 85%;
	display: inline-block;
	padding-left: 15%;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

#introduction{
	font-family: 'Domine', serif;
	font-size: 18px;
	display: inline-block;
	color: #6B7986;
	text-align: justify;
}

p{
	font-family: 'Domine', serif;
	font-size: 14px;
	display: inline-block;
	color: #6B7986;
	text-align: justify;
}

h4{
	font-family: 'Domine', serif;
	font-size: 18px;
	display: inline-block;
}














.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

#category:hover .overlay {
  opacity: 1;
}

.text {
  color: #707272;
  font-family: 'Domine', serif;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/*products*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.col-lg-4 {
  float: left;
  width: 33.3%;
  margin-bottom: 27px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.definition {
  padding: 0 16px;
  display: inline-block;
}

.row{
	margin: 0 auto;
}

.buttonClass{
	border-radius: 0%;
	border-width: 2px;
	border-color: #6d6d6d;
	color: #969494;
	font-size: 16px;
}
.buttonClass:hover{
	color : #606060;
	background-color: #ffffff;
}
.buttonClass:focus{
  outline: none;
  border-color: #6d6d6d;
	color: #969494;
  background-color: #ffffff;
}
.buttonClass:active{
  border-radius: 0%;
  border-width: 2px;
  border-color: #6d6d6d;
  color: #969494;
  font-size: 16px;
}
.no_products{
  font-size: 30px;
}